html, body {
    height: 100%;
    margin: 0;
  }
  body {
    background-color: #fff;
    font-family: sans-serif;
    overflow: hidden;
  }
  h1 {
    font-weight: normal;
    font-size: 140%;
  }
  table {
    height: 100%;
    width: 100%;
  }
  #blocklyArea {
    height: 99%;
  }

  .header
  {
      min-height: 15%;
      display: table-cell;
      vertical-align: middle;
      float:none;

  }

  .branding
  {
      float:left;
  }

  .action{
      margin-left: 10px;
      float:right;
      margin-right: 10px;
      border-radius: 10px;
      border: 2px dashed #4b2869;
  }

  .action img{
    width: 50px;
  }
  
  #file-input {
    display: none;
  }

  #loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    z-index: 9999;
  }